{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Kernel.php"
        ]
    },
    "logs": {
        "text": "var/tmp-infection/infection.log",
        "summary": "var/tmp-infection/summary.log",
        "perMutator": "var/tmp-infection/per-mutator.md"
    },
    "mutators": {
        "@default": true
    },
    "tmpDir": "var/tmp-infection",
    "testFramework":"phpunit",
    "testFrameworkOptions": "-vvv"
}
