parameters:
    level: 6
    paths:
        - src
    autoload_files:
        - %currentWorkingDirectory%/src/Core/File/TextFileReader.php
        - %currentWorkingDirectory%/src/Core/File/TextFileWriter.php
    ignoreErrors:
        -
            message: '~^Variable method call on ~'
            path: src/NameSwitcher/Dictionary/Ship.php

        -
            message: '~^Variable property access on ~'
            path: src/Core/Tas/Scenario/Scenario.php

        -
            message: '~^Variable method call on ~'
            path: src/Core/Fs/Scenario/Ship/Ship.php

        -
            message: '~^Variable method call on ~'
            path: src/Core/Fs/BattleReport/Ship.php

        -
            message: '~^Variable method call on ~'
            path: src/Core/Tas/Savegame/Savegame.php
